{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <script src="{% static '/js/node_modules/@panzoom/panzoom/dist/panzoom.js' %}"></script>
    <title>Title</title>
</head>
<body>
    <div id="container">
        <header>
            <a href="#" class="logo">
                Tresure Map
            </a>

            <div class="header-right">
                <a href="#">Карта кладов</a>
                <a href="#">Ответы на клады</a>
            </div>
        </header>

        <main>
            <div id="map-container" style="background-image: url({% static '/img/map.webp' %})"></div>
        </main>

        <hint>
            <a href="#">
                <span>Точка на земле</span>
                <div class="simple-point"></div>
            </a>
            <a href="#">
                <span>Точка внизу</span>
                <div class="low-point"></div>
            </a>
            <a href="#">
                <span>Точка вверху</span>
                <div class="high-point"></div>
            </a>
        </hint>
    </div>
</body>
</html>
