body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    cursor: url("../img/cursor.cur"), auto;
    background-color: #2a2a2a;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #2f2f2f;
    pointer-events: none;
}

::-webkit-scrollbar-thumb {
    background-color: #595959;
    border-radius: 15px;
}

#container {
    margin-top: 50px;
    text-align: center;
    width: 100vw;
    height: calc(100vh - 50px);
}

header {
    position: fixed;
    background: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 50px;
    width: 100vw;
    top: 0;
}

header a {
    float: left;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    transition-duration: 0.3s;
}

header a:hover {
    color: #b2dc01;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    right: 5%;
}

.logo {
    position: relative;
    left: 5%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

main {
    width: inherit;
    height: inherit;
}

#map-container {
    overflow: hidden;
    width: inherit;
    height: inherit;
    background-color: rgb(114, 138, 175);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hint_mark {
    width: 2vw;
    height: 2vw;
    background-size: contain;
    margin: 100px 25px 25px 25px;
    float: right;
    overflow-y: hidden;
}

hint {
    position: fixed;
    right: 0;
    bottom: 0;
}

.hint_window {
    display: grid;
    background: rgba(35, 35, 35, 0.35);
    width: max-content;
    height: 100px;
    grid-template-columns: repeat(3, 100px);
    border-radius: 5px;
    margin: 15px;
    opacity: 0;
    transition-duration: 0.3s;
}

.hint_window.active {
    opacity: 1;
}

hint a {
    width: 70%;
    height: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #dedede;
    pointer-events: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


hint a div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.simple-point {
    background-color: orangered;
}

.low-point {
    background-color: green;
}

.high-point {
    background-color: blue;
}

#questions_and_answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_block {
    color: white;
    text-align: start;
    margin: 1em;
    padding: 0.5em;
    width: 1000px;
    font-size: 26px;
}

.question {
    background-color: #313131;
    border-radius: 15px;
    padding: 0.3em;
}

.answer {
    padding-left: 0.4em;
    color: #ffffff;
    transition-duration: 0.3s;
    width: max-content;
}

.answer:hover {
    color: #b2dc01;
}

#notification {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 25px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#notification:before {
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    content: ' \f328';
}

#notification.active {
    opacity: 1;
}

.search-box {
    width: 350px;
    padding: 10px 20px;
    margin-top: 25px;
    background-color: #313131;
    color: white;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 26px;
    transition-duration: 0.3s;
}

.search-box:hover {
    background: #262626;
}

.search-box:focus {
    background: #424242;
}