::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    padding: 0;
    margin: 0;
    cursor: url("../img/cursor.cur"), auto;
}

#container {
    margin: auto auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#content {
    background: #DCDCDC;
    float: right;
    width: 85%;
    height: 100%;
    font-size: 32px;
}

#map-container {
    width: 12000px;
    height: 10000px;
    background-color: rgb(114, 138, 175);
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar {
    background: #232323;
    float: left;
    width: 15%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 100px);
}

#sidebar a {
    width: 70%;
    align-self:  center;
    display: flex;
    text-decoration: none;
    color: #dedede;
    pointer-events: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#sidebar a span {
    float: left;
}

#sidebar a div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.simple-point {
    background-color: orangered;
}

.low-point {
    background-color: green;
}

.high-point {
    background-color: blue;
}